---
const personalImageAlt = "Javier Alburges";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <h2
      class="text-lg font-bold text-yellow-600 dark:text-yellow-200 mb-2 text-center md:text-left"
    >
      Fundador & CEO en GearSoftCA | Ingeniero | Especialista en Calidad &
      Gerencia de Proyectos | Software Innovador
    </h2>
    <p>
      Soy un profesional versátil con una sólida formación en Ingeniería
      Mecánica de la Universidad del Zulia y una Maestría en Gerencia de
      Proyectos Industriales (en curso) por URBE University, con énfasis en el
      desarrollo de software y metodologías ágiles como Scrum.
    </p>
    <p>
      Mi trayectoria profesional es diversa, abarcando desde la planificación de
      mantenimiento y confiabilidad en el sector de aviación, hasta roles clave
      en el control y aseguramiento de la calidad, donde me certifiqué como
      Auditor Interno ISO 9001:2015. También he contribuido como asistente de
      dirección en la certificación de productos y empresas, y he compartido mis
      conocimientos como docente en programación web.
    </p>
    <p>
      Como Fundador y CEO de GearSoftCA, lidero la creación de soluciones de
      software innovadoras para diversas plataformas. He dirigido el desarrollo
      de proyectos destacados como ServicioExpress, una aplicación de solicitud
      de servicios profesionales construida con React Native, Expo y Firebase, y
      he incursionado en el desarrollo de aplicaciones con Inteligencia
      Artificial utilizando Flutter. También soy el creador de una app de
      cálculo de sistemas de transmisión de potencia, desarrollada en Kotlin y
      Jetpack Compose, disponible en Google Play Store.
    </p>
    <p>
      Mi enfoque se centra en el liderazgo estratégico, la innovación
      tecnológica y la gestión eficiente de proyectos, combinando mi base de
      ingeniería con mi pasión por el desarrollo de software para transformar
      ideas en soluciones digitales de alto impacto.
      <strong
        ><a target="_blank" href="https://www.linkedin.com/in/javieralburges/"
          >Ir a Linkedin</a
        ></strong
      >
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/javier.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
