---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "septiembre 2020 - actualidad",
    title: "Fundador y CEO",
    company: "GearSoftCA",
    description:
      "Lidero la visión estratégica y el crecimiento de GearSoftCA, impulsando la innovación y la excelencia en soluciones de software multiplataforma. Dirijo operaciones, desarrollo de productos y alianzas clave, asegurando la satisfacción del cliente y el cumplimiento de objetivos empresariales.",
    link: "https://www.linkedin.com/company/gearsoftca/",
  },
  {
    date: "octubre 2023 - diciembre 2024",
    title: "Profesor de programación de software",
    company: "Centro Educativo Logros",
    description:
      "Diseñé e impartí cursos de desarrollo web front-end (HTML, CSS, JavaScript, TypeScript y React), promoviendo el aprendizaje práctico y adaptando la enseñanza a distintos niveles. Contribuí a la formación de nuevos desarrolladores web con metodologías actualizadas y enfoque inclusivo.",
    link: "https://www.linkedin.com/company/centro-educativo-logros",
  },
  {
    date: "noviembre 2022 - marzo 2023",
    title: "Asistente de dirección",
    company: "Ironflex",
    description:
      "Brindé soporte administrativo y estratégico para la certificación de productos industriales y el mantenimiento del sistema de gestión de calidad ISO 9001, optimizando procesos y colaborando con equipos multidisciplinarios.",
    link: "https://www.linkedin.com/company/ironflexve",
  },
  {
    date: "noviembre 2019 - julio 2022",
    title: "Gestor de publicaciones técnicas",
    company: "Venezolana (Rutas Aéreas de Venezuela)",
    description:
      "Desarrollé y mantuve la documentación técnica esencial de la aerolínea, asegurando el cumplimiento normativo y la claridad en manuales y procedimientos. Coordiné con equipos técnicos para garantizar información precisa y actualizada.",
    link: "https://www.venezolana.aero/",
  },
  {
    date: "septiembre 2019 - octubre 2019",
    title: "Planificador de Mantenimiento Aeronáutico (Pasante)",
    company: "Rutas Aéreas de Venezuela RAV.S.A.",
    description:
      "Apoyé en la planificación y programación del mantenimiento de la flota, coordinando recursos y asegurando el cumplimiento de normativas de seguridad y calidad. Fortalecí habilidades de trabajo en equipo y atención al detalle en un entorno aeronáutico exigente.",
    link: "https://www.venezolana.aero/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
