---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "oct. 2023 - Actualmente...",
    title: "Profesor de programación de software",
    company: "Centro Educativo Logros",
    description:
      "Diseñar y ejecutar planes de estudio para cursos de programación web que cubran tecnologías front-end y back-end. Facilitar clases teóricas y prácticas que promuevan el aprendizaje activo y la resolución de problemas. Evaluar el progreso de los estudiantes mediante tareas, proyectos y exámenes. Mantenerse actualizado con las últimas tendencias y tecnologías en el desarrollo web para incorporarlas en el material didáctico.",
    link: "https://centroeducativologros.com.ve/",
  },
  {
    date: "sept. 2020 - Actualmente...",
    title: "Director fundador",
    company: "GearSoftCA",
    description:
      "Establecer la visión estratégica y la dirección de la empresa, asegurando su alineación con las tendencias del mercado y las necesidades de los clientes.Liderar el desarrollo y la ejecución del plan de negocios, incluyendo la identificación de oportunidades de mercado, desarrollo de productos y estrategias de crecimiento.Representar a la empresa ante clientes, inversores y socios estratégicos, construyendo relaciones clave para el éxito del negocio.Supervisar las operaciones diarias, garantizando la eficiencia, la calidad del servicio y el cumplimiento de los objetivos financieros.",
    link: "https://www.linkedin.com/company/gearsoftca/",
  },
  {
    date: "nov. 2022 - mar. 2023 · 5 meses",
    title: "Asistente de dirección",
    company: "Ironflex",
    description:
      "Coordinar y gestionar los procesos de certificación de productos industriales para su exportación.Mantener actualizado el manual de gestión de la calidad ISO 9001 y asegurar su cumplimiento.Asistir en la preparación y revisión de documentos y reportes relacionados con la administración y ventas.Colaborar con otros departamentos para facilitar actividades administrativas y operativas.",
    link: "https://ironflexgroup.com/",
  },
  {
    date: "nov. 2019 - jul. 2022 · 2 años 9 meses",
    title: "Gestor de publicaciones técnicas",
    company: "Venezolana (Rutas Aéras de Venezuela)",
    description:
      "Desarrollar y mantener actualizadas las publicaciones técnicas de la aerolínea, incluyendo manuales de mantenimiento, procedimientos operativos y documentación reglamentaria.Asegurar que todas las publicaciones cumplan con los estándares de la industria y las regulaciones aeronáuticas nacionales e internacionales.Coordinar con los departamentos de ingeniería, mantenimiento y operaciones para recopilar información técnica precisa.Gestionar el proceso de revisión y aprobación de documentos técnicos y asegurar su distribución oportuna.",
    link: "https://www.venezolana.aero/",
  },
  {
    date: "sept. 2019 - oct. 2019 · 2 meses",
    title: "Planificador de Mantenimiento Aeronautico (Pasante)",
    company: "Venezolana (Rutas Aéras de Venezuela)",
    description:
      "Asistir en la planificación y programación de las actividades de mantenimiento preventivo y correctivo de la flota.Colaborar en la coordinación de recursos, herramientas y repuestos necesarios para las tareas de mantenimiento.Apoyar en la actualización de los registros y documentación técnica relacionada con el mantenimiento de las aeronaves.Participar en el seguimiento del cumplimiento de las normativas de seguridad y calidad en todas las operaciones de mantenimiento.",
    link: "https://www.venezolana.aero/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
